@font-face {
    font-family: 'neontubes';
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {

    font-family: 'smashFont' ;
    src: url('../images/super_smash_4_1_by_pokemon_diamond-d7zxu6d.ttf') format('truetype');
 
 }

body {
    /* border: 5px solid red; */
    height: 100vh;
    width: 100%;
    margin: 0px;
    position: relative;
    /* float: left; */
    display: block-inline;
    background-image: url(../../assets/images/new-background.png);
    /* background-image: url(https://i.imgur.com/uti3UxF.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

main {
    height: 80%;
}

h1 {
    text-align: center;
}
.gameArea{
  display: inline-block;
  /* position: relative; */

}
.statsContainer{
  display: inline-block;
  margin-left: 5%;
  position: absolute;
}

.cardContainer {
    height: 70%;
    width: 70%;
    position: absolute;
    right: 100px;
    margin: 0px;
    display: inline-block;
}


.card {
    width: 15%;
    height: 30%;
    display: inline-block;
    position: relative;
}

.back {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-image: url(../../assets/images/pngkey.com-smash-ball-png-1504139.png);
}

.front {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.masterStatsDiv {
    height: 60%;
    border-bottom: 5px;
    text-align: center;
    display: grid;
}

.statsDiv {
    font-family: smashFont;
    width: 100%;
    height: 70%;
    text-align: center;
    background-color: limegreen;
    font-size: 1.5em;
    margin-bottom: .5em;
    margin-top: 5%;
    border: 2px dashed rgba(21, 22, 32, 0.98);
    background-color: rgba(255, 255, 255, 0.77);
    border-radius: 7%;
    animation: glow 3s infinite alternate;
    
}
.mobileStatsContainer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100vw;
  height: 10vh;
  display: none;
  flex-direction: row;
}
#masterMobileStatsDiv{
  display: flex;
  widtH: 100vw;
  text-align: center;
}
.mobileStatsDiv{
  font-size: 1.5em;
  text-align: center;
  position: relative;
  height: 7vh;
  width: 25%;
  border: 2px dashed rgba(21, 22, 32, 0.98);
  background-color: rgba(255, 255, 255, 0.77);
  border-radius: 7%;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #aef4af;
  }
  to {
    box-shadow: 0 0 10px 10px #aef4af;
  }
}
.modal {
    font-family: smashFont;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
  position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    justify-content: center;
    border-radius: 25px;
    background-color: #aef4af;
    opacity: .9;
    display: block;
    text-align: center;
    flex-direction: column;
}

.hidden {
    display: none;
}

.show{
  display: inline-block;
}

.winGif{
  height: 300px;
  width: 400px;
}

.winText{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: landscape){
    .masterStatsDiv{
      display: none;
    }
    .card{
      width: 18vw;
      height: 18vh;
      /* padding: 10px; */
      margin: 5px;
    
    }
    .cardContainer{
      width: 100%;
      left: 3%
    }
    .cardContainer>.card:nth-child(16){
      margin-left: 20%;
    }
  }

/*ipad pro portrait*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

    
  body{
    background-image: url(/assets/images/vertical-ipad.jpeg);
    background-size: 1024px 1366px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    margin: 0px;
    position: relative;
  }
  .smashTitle{
    content:url(/assets/images/ipad-vertical-title.png);
    width: 70%;
  }

    .cardContainer {
      width: 90%;
      height: 90%;
      left: 3%;
  }
  .masterStatsDiv{
    display: none;
  }
  .card{
    height: 15vh;
    width: 20vw;
    padding: 8px;
  }
  .cardContainer>.card:nth-child(17){
    margin-left: 24%;
  }

}

/*// landscape  ipad responsiveness*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .smashTitle{
    width: 600px;
  }
  body{
    background-image: url(/assets/images/ipad-landscape-background.jpg);
    background-size: 1024px 768px;
  }
  .cardContainer {
    height:75%;
    width: 100%;
    position: absolute;
    left: 0;
    margin: 0px;
    display: inline-block;
}
.title{
  margin-top: 0;
}
.card{
  height: 20vh;
  width: 15vw;
  padding: 5px;
}
.masterStatsDiv{
  display: none;
}
}



/*/ipad vertical responsiveness /*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-height : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)
 { 

  body{
    background-image: url(/assets/images/vertical-ipad.jpeg);
    background-size: 768px 1024px;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100%;
    margin: 0px;
    position: relative;
  }
  header{
    height: 5%;
  }
  .smashTitle{
    content:url(/assets/images/ipad-vertical-title.png);
    width: 80%;
  }
  .title{
    margin-top: 2px;
  }
  .masterStatsDiv{
    display: none;
  }
  .cardContainer{
    width: 95%;
    left: 3%;
  }
  .cardContainer>.card:nth-child(16){
    margin-left: 20%;
  }
  .card{
    width: 17vw;
    height: 16vh;
    padding: 5px;
    padding-top: 7px;
  }
  .modal {
    font-family: smashFont;
    display: none;
    position: fixed;

    z-index: 1;
    padding-top: 100px;

    left: 0;
    top: 0;
    width: 100%;

    height: 100%;

    overflow: auto;

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

}

  .modal-content {
    position: absolute;
    background-color: #fefefe;
  
    height: 500px;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    justify-content: center;
    border-radius: 25px;
    background-color: #aef4af;
    opacity: .9;
    display: block;
    left: 13%;
    font-size: 2em;
    text-align: center;
    flex-direction: column;
  }
  .winGif{
    width: 50%;
    height: 50%;
  }

}




/*// vertical iphone X responsiveness*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait)  {
  /* body{
    background-image: url("/assets/images/MM-mobile-vertical.jpg");
    background-size: auto;
  } */
  main{
    height: 80vh;
    width: 100vw;
    display: inline-block;
  }
  .mobileStatsContainer{
    display: flex;
  }
  .smashTitle{
    width: 100%;
    font-size: 2em;

  }
  .statsContainer{
    display: none;
  }
  .cardContainer{
    width: 100%;
    height: 90%;
    left: 2.5%;
  }

  .card{
    height: 15%;
    width: 30%;
    /* margin: 1%; */
  }

  .modal {
    font-family: smashFont;
    display: none;
    position: fixed;

    z-index: 1;
    padding-top: 100px;

    left: 0;
    top: 0;
    width: 100%;

    height: 100%;

    overflow: auto;

    background-color: rgb(0, 0, 0);

    background-color: rgba(0, 0, 0, 0.4);

}


/* Modal Content */

.modal-content {
  position: absolute;
  background-color: #fefefe;
  /* margin: auto; */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  justify-content: center;
  border-radius: 25px;
  background-color: #aef4af;
  opacity: .9;
  display: block;
  left: 20%;
  text-align: center;
  flex-direction: column;
}
.winGif{
  width: 50%;
  height: 10%;
}
}

/*/iphone X landscape responsiveness/*/
@media only screen 
and (min-device-height : 375px) 
and (max-device-width : 812px) 
and (orientation : landscape){
body{
  background-size: 900px;
}
.mobileStatsContainer{
  display: flex;
}
  .card{
    width: 15vw;
    height: 24vh;
    padding: 2px;
  }
  .cardContainer {
    height: 100%;
    /* width: 100%; */
    position: absolute;
    margin: 0px;
    display: inline-block;
    /* left: 20%; */
    top: 10%;
    left: 5%;
}
.smashTitle{
  width: 50%;
  height: 50%;
}
.winGif {
  height: 20%;
  width: 200px;
}
.modal{
padding-top: 5%;
}

.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 35%;
justify-content: center;
border-radius: 25px;
background-color: #aef4af;
opacity: .9;
display: block;
text-align: center;
flex-direction: column;
}
}


/*iphone 6/7/8+ horizontal*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) { 
  .title{
    margin-top: 0;
  }
  .statsDiv{
    display: none;
  }
  .cardContainer{
    height: 90%;
    width: 90vw;
    left: 5%;
    
  }
  .card{
    width: 15%;
  }
  .mobileStatsContainer{
    display: flex;
  }
}
/*iphone 6/7/8 plus vertical*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) { 
  /* body{
    background-image: url("/assets/images/MM-mobile-vertical.jpg");
    
  } */
  .smashTitle{
      top: 0;
      margin-top: 0;
      width: 90%;
  }
  .cardContainer{
    top: 5%;
    width: 90%;
    left: 10%;

  }
    .card{
      width: 20vw;
      height: 15vh;
      
    }

    .cardContainer>.card:nth-child(13){
      margin-left: 15%;
    }
    .cardContainer>.card:nth-child(16){
      margin-left: 15%;
    }

    .mobileStatsContainer{
      display: flex;
      bottom: 9%;
    }
    

 }

/* iphone 6/7/8 vertical*/
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) { 

  body{
    background-image: url("/assets/images/MM-mobile-vertical.jpg");
    background-size: auto;
  }
  main{
    height: 80vh;
    width: 100vw;
    display: inline-block;
  }
  .smashTitle{
    width: 70%;
  }
  .cardContainer{
    left: 3.5%;
    width: 100%;
  }
  .statsDiv{
    display: none;
  }

  .title{
    margin: 0;
  }
  .card{
    height: 15vh;
    width: 12vh;
    margin: 4px;
  }

  .cardContainer>.card:nth-child(17){
    margin-left: 26%;
  }
  .modal-content{
    width: 50%;
  }
  .winGif{
    height: 20vh;
    width: 30vw;
  }

  .mobileStatsContainer{
    display: flex;
  }



 }