body {
    /* border: 5px solid red; */
    height: 100vh;
    width: 100%;
    margin: 0px;
    position: relative;
    /* float: left; */
    display: block-inline;
    background-image: url(../../assets/images/blind-robot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

main {
    /* margin: 0; */
    height: 70%;
    /* width:100%; */
}

header {
    /* border: 1px solid orange; */
    padding-bottom: 5vh;
    opacity: 1;
}

h1 {
    text-align: center;
}

.cardContainer {
    height: 80%;
    width: 70%;
    position: relative;
    /* display: flex; */
    margin: 0px;
    float: right;
    /* border: 5px solid purple; */
}

aside {
    margin-left: 1%;
    width: 30%;
    height: 100%;
}

.card {
    width: 15%;
    /* height: 33.33%; */
    /* background-size: auto; */
    height: 33%;
    /* border: 1px solid blue; */
    /* display: flex; */
    margin: 5px;
    /* float: bottom; */
    /* position: absolute; */
    display: inline-block;
    position: relative;
}

.back {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-image: url(../../assets/images/lfz-card.jpg);
}

.front {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.masterStatsDiv {
    /* border: 5px solid pink; */
    height: 60%;
    width: 30%;
    /* margin: 1px; */
    border-bottom: 5px;
    text-align: center;
    display: grid;
}

.statsDiv {
    width: 175%;
    height: 95%;
    /* left: 5%; */
    /* border: 3px solid green; */
    text-align: center;
    /* vertical-align: middle; */
    background-color: turquoise;
    opacity: .5;
    font-size: 1.5em
    /* margin: auto; */
}

.dan {
    background-image: url("../../assets/images/dan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.brett {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/images/brett.jpg");
}

.andy {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/images/andy.jpg")
}

.bill {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/images/bill.jpg")
}

.cody {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/images/cody.jpg")
}

.scott {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/images/scott.jpg")
}

.timd {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/images/tim-d.jpg")
}

.timh {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/images/tim-h.jpg")
}

.tj {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/images/tj.jpg")
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.hidden {
    display: none;
}