@font-face {
    font-family: 'neontubes';
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {

    font-family: 'smashFont' ;
    src: url('../images/super_smash_4_1_by_pokemon_diamond-d7zxu6d.ttf') format('truetype');
 
 }

body {
    /* border: 5px solid red; */
    height: 90vh;
    width: 100%;
    margin: 0px;
    position: relative;
    /* float: left; */
    display: block-inline;
    background-image: url(../../assets/images/927403.png);
    /* background-image: url(https://i.imgur.com/uti3UxF.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

main {
    height: 80%;
}

h1 {
    text-align: center;
}
.gameArea{
  display: inline-block;
  /* position: relative; */

}
.statsContainer{
  display: inline-block;
  margin-left: 5%;
  position: absolute;
}

.cardContainer {
    height: 70%;
    width: 70%;
    position: absolute;
    right: 100px;
    margin: 0px;
    display: inline-block;
}


.card {
    width: 15%;
    height: 35%;
    display: inline-block;
    position: relative;
}

.back {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-image: url(../../assets/images/pngkey.com-smash-ball-png-1504139.png);
}

.front {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.masterStatsDiv {
    /* border: 5px solid pink; */
    height: 60%;
    width: 30%;
    /* margin: 1px; */
    border-bottom: 5px;
    text-align: center;
    display: grid;
}

.statsDiv {
    font-family: smashFont;
    width: 100%;
    height: 70%;
    border: 3px solid green;
    text-align: center;
    background-color: limegreen;
    opacity: .5;
    font-size: 1.5em;
    margin-bottom: .5em;
    margin-top: 5%;
    border-radius: 40px 40px 40px 0px;
    animation: glow 3s infinite alternate;
    
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #aef4af;
  }
  to {
    box-shadow: 0 0 10px 10px #aef4af;
  }
}
.modal {
    font-family: smashFont;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
  position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    justify-content: center;
    border-radius: 25px;
    background-color: #aef4af;
    opacity: .9;
    display: block;
    text-align: center;
    flex-direction: column;
}

.hidden {
    display: none;
}

.show{
  display: inline-block;
}

.winGif{
  height: 300px;
  width: 400px;
}

.winText{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/*// Mobile Display*/
@media screen and (max-width: 600px) {
  body{
    background-image: url(https://i.kym-cdn.com/photos/images/original/001/426/908/7b2.jpg);
  }
  main{
    height: 80vh;
    width: 100vw;
    display: inline-block;
  }
  .smashTitle{
    width: 100%;
    font-size: 2em;

  }
  .statsContainer{
    display: none;
  }
  .cardContainer{
    width: 100%;
    height: 90%;
    left: 2.5%;
  }

  .card{
    height: 15%;
    width: 30%;
    margin: 1%;
  }

  .modal {
    font-family: smashFont;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
  position: absolute;
  background-color: #fefefe;
  /* margin: auto; */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  justify-content: center;
  border-radius: 25px;
  background-color: #aef4af;
  opacity: .9;
  display: block;
  left: 20%;
  text-align: center;
  flex-direction: column;
}
.winGif{
  width: 50%;
  height: 10%;
}
}

@media screen and (max-width: 812px)
and (min-width: 700px){

  .cardContainer {
    height: 70%;
    width: 150%;
    position: absolute;
    left: 3.5%;
    margin: 0px;
    display: inline-block;
}
.masterStatsDiv{
  display: none;
}
}